<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <!-- Do not forget to change the path to the css file -->
    <link href="/static/css/style.css" type="text/css" rel="stylesheet">{{!-- без точка отпред търси спрямо корена порт 3000 на апп --}}
</head>

<body>

    <div id="box">

        <nav>
            <img src="/static/img/logo.webp" alt="logo">

            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/create">Create Post</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/about">About</a></li>
            </ul>

        </nav>


        <main>
            {{{body}}}{{!-- това е ключова дума за експресс и не може да се замени с друга! --}}
        </main>
        <footer>
            © JS Back-End Workshop
        </footer>
    </div>

</body>

</html>